@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:ital,wght@0,100;0,400;0,500;1,500&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.text-light {
    color: #FFF;
}

#container {
    width: 100%;
    min-height: 90dvh;
    display: flex;
    flex-direction: column;
    gap: 100px;
    overflow: hidden;
    position: relative;
}

#bg-video {
    position: absolute;
    margin: auto;
    width: 100%;
    height: 120%;

    background: #fff;

    overflow: hidden;
    z-index: -1;
    top: -100px;
}

#bg-video > video {
    z-index: inherit;
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;    

    margin: auto;

    /* here You can control your video height width */
    min-width: 100dvw;
    min-height: 100%;
}

header {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100dvw;
    justify-content: space-between;
    align-items: center;
    background-color: #424242;
    z-index: 100;
    padding: 0 5%;
}

#nav-links {
    list-style-type: none;
    display: none;
    justify-content: space-between;
    width: 35dvw;
    margin-right: 30dvw;
}

#nav-links > li::after {
    content: "";
    display: block;
    position: relative;
    width: 0;
    height: 2px;
    background-color: #F00;
    transition: .2s;
}

#nav-links > li:hover::after {
    width: 100%;
}

#nav-links > li > a {
    text-decoration: none;
}

#nav-links-dropout-button {
    position: relative;
    cursor: pointer;
}

#dropout-menu {
    border-radius: 5px;
    padding: 3px 0;
    position: absolute;
    display: none;
    top: 20pt;
    left: 0;
    background-color: #f04d35;
    z-index: 5;
    width: 100%;
}

#dropout-menu > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    width: 100%;
}

#dropout-menu > ul > li {
    color: #FFF;
    width: 100%;
    padding: 5%;
}

#dropout-menu > ul > li > a {
    color: #FFF;
    text-decoration: none;
}

#dropout-menu > ul > li:hover {
    background-color: #d13018;

}

#contact-tel {
    display: none;
}

#contact-tel > a {
    text-decoration: none;
}

#lang-switcher-outter {
    display: none;
}

#logo-outter > img {
    height: 6dvh;
    mix-blend-mode: screen;
    filter: invert(1);
}

#nav-links-menu-mobile {
    position: relative;
}

#menu-mobile-icon-outter {
    padding: 10px;
}

#menu-mobile-icon {
    font-size: 18pt;
}

#nav-links-menu-mobile-content {
    width: 90dvw;
    padding: 10%;
    position: absolute;
    height: 0px;
    display: none;
    bottom: max(5dvh, calc(18pt + 20px));
    right: 0;
    background-color: #424242;
}

#nav-links-menu-mobile-content > ul {
    list-style: none;
}

#nav-links-menu-mobile-content > ul > li:hover {
    background-color: #333;
}

#nav-links-menu-mobile-content > ul > li > a {
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: inline-block;
}

#company-thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    width: 100%;
    padding: 2%;
}

#thumbnail-body {
    width: 100%;
    background-color: transparent;
    padding: 5%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#company-thumbnail-header > h1 {
    font-size: 28pt;
}

#company-thumbnail-body > p {
    letter-spacing: 0.7pt;
}

#pricelist-button {
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 2px solid #F00;
    border-radius: 5px;
    transition: .4s;
}

#pricelist-button:hover{
    background-color: #F00;
    transition: .4s;
}

#company-services {
    background-color: #FFF;
}

#services-thumbnail{
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
    padding-bottom: 0;
    gap: 1rem;
}

#services-thumbnail-header-outter {
    font-size: 20pt;
    width: 100%;
}

#services-thumbnail-text-outter {
    color: #424242;
    width: 100%;
}

#services-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-content: center;
    column-gap: 5%;
    row-gap: 2rem;
    padding: 3% 5%;
    
}

.service-card {
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.3);
    border: 1px solid #EEE;
    border-radius: 5px;
    padding: 5%;
}

.service-card-header>img{
    width: 100px;
    height: 100px;
}

.service-card-body > p {
    color: #444;
}

#company-support {
    padding: 5%;
}

#company-support-header{
    font-size: 20pt;
}

#support-services{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    justify-content: center;
    justify-items: center; 
    column-gap: 2%;
    row-gap: .7rem; 
    margin: 0 auto;
    padding-top: 3%;
}

.support-service{
    border-radius: 10px;
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.3);
    padding-left: 8px;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.support-service-num{
    padding-bottom: 5px;
    color:#999;
}

.support-service-header, .support-service-body{
    padding-right: 8px;
}

.support-service-icon>img{
    width: 60px;
    height: 60px;
    
}

.support-service-icon{
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 0;
}

#exp-image-outter>img{
    width: 600px;
    height: 550px;
}

#company-experience{
    display: flex;
    align-items: center;
}

#exp-header-outter{
    font-size: 30pt;
    padding: 15px;
}

#exp-features{
    width: 500px;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
} 

.exp-feature{
    padding: 10px;

}

.exp-feature::before{
    content: "";
    background-color: red;
    height: 70px;
    width: 3px;
    display: inline-block;
    transform: translateX(-15px);
    position:absolute; 
}

#thumbnail-achievments {
    width: 100%;
    background-color: transparent;
    padding: 5%;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-evenly;
    gap: 20px;
}


.thumbnail-achievment {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.thumbnail-achievment::before {
    content: "";
    background-color: red;
    height: 70px;
    width: 3px;
    display: inline-block;
    transform: translateX(-15px);
    position:absolute;
}

.thumbnail-achievment > h3 {
    font-size: 18pt;
}

/* .thumbnail-achievment:nth-child(1) > h3 {
    font-size: 24pt;
    transform: translateY(-4pt);
}

.thumbnail-achievment:nth-child(1) > p {
    transform: translateY(-6pt);
} */

#pricelist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pricelist-header-outter > h1 {
    font-size: 28pt;
}

#options-outter {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2% 10% 2% 10%;
    justify-content: center;
    gap: .2rem;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 10px;
    padding: 2rem;
    width: 100%;
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.3);
}

.option-thumbnail-outter {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.option-thumbnail-type-outter > h3 {
    font-size: 12pt;
    color: #F00;
    letter-spacing: 0.1pt;
}

.option-thumbnail-price-outter > span {
    font-size: 40pt;
    font-weight: 700;
    line-height: 30pt;
}

.option-thumbnail-period-outter {
    margin-top: -4pt;
}

.option-thumbnail-period-outter > span {
    font-size: 10pt;
    font-weight: 700;
}

.option-odds-list > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.option-odds-list > ul > li {
    display: flex;
    gap: 1rem;
    font-size: 10pt;
}

.option-odds-list > ul > li > i {
    color: rgb(201, 97, 97);
    display: block;
}

.option-submission-button-outter > button {
    width: 100%;
    padding: 15pt;
    background-color: transparent;
    border: 1px solid rgb(201, 97, 97);
    border-radius: 5px;
    color: #F00;
    font-size: 16pt;
    transition: .3s;
}

.option-submission-button-outter > button:hover {
    background-color: #F00;
    color: #FFF;
    transition: .3s;
    cursor: pointer;
}

#extra-option-outter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    text-align: center;
}

#extra-option-outter > p {
    color: #777;
}

#extra-option-outter > a {
    color: rgb(27, 4, 110);
}

#latest-cases {
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

#latest-cases-cards {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: .5%;
}

.case {
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

.case-photo {
    height: 100%;
    z-index: -1;
    border-radius: 10px;
    overflow: hidden;
}

.case-photo > img {
    z-index: inherit;
    position: relative;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

.case-content {
    position: relative;
}

.case-content-inner {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5%;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
}

.case-title {
    font-size: 12pt;
    width: 100%;
}

.case-date > span {
    font-size: 10pt;
    color: #AAA;
    font-weight: 700;
}

.case-text {
    font-size: 10pt;
}

#show-more-cases {
    padding: 20px 70px;
    background-color: #FFF;
    border-radius: 3px;
    border: 1px solid #999;
}

#company-team-header-outter{
    display: flex;
    justify-content: center;
}

#company-employees{
    content: " ";
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 800px; 
    justify-content: center;
    justify-items: center; 
    column-gap: 30px;
    row-gap: 40px; 
    margin: 0 auto;
    padding: 20px;
}

.employee-card-img>img{
    width: 190px;
    height: 250px;
}

#company-reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

#reviews-tab {
    position: relative;
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.3);
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid #EEE;
    padding: 3%;
    justify-content: space-between;
    border-radius: 5px;
    transition: .7s;
    background-color: #FFF;
    align-items: center;
}

#reviews-tab::before {
    content: " ";
    position: absolute;
    width: 80%;
    height: 100px;
    top: -3%;
    left: 10%;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #EEE;
    border-radius: 5px;
    z-index: -5;
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.3);
}

#reviews-tab::after {
    content: " ";
    position: absolute;
    width: 60%;
    height: 100px;
    top: -5%;
    left: 20%;
    border-radius: 5px;
    border: 1px solid #EEE;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -10;
    box-shadow: 0px 0px 50px -10px rgba(0, 0, 0, 0.3);
}

#reviews-tab-content {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid #999;
    padding-bottom: 1rem;
}

#review-logo > img {
    width: 50%;
}

#review-text > p {
    font-weight: 700;
    text-decoration: underline;
    font-size: 14pt;
}

#review-author > p {
    font-size: 10pt;
    color: #999;
}

#reviews-tab-pagination {
    margin-top: 1rem;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5pt;
}

#reviews-pagination-current-page {
    font-size: 22pt;
}

#reviews-pagination-arrow-left > i, #reviews-pagination-arrow-right > i {
    font-size: 30pt;
    cursor: pointer;
}

#company-clients {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 5rem;
    overflow: hidden;
}

#company-clients-header-outter {
    font-size: 26pt;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#company-clients-body-outter {
    margin: auto;
    width: 80%;
    text-align: left;
}

#company-clients-gallery-2 {
    width: 140%;
    transform: translateX(-7%);
}

.splide__slide {
    border: 1px solid #DDD;
    border-radius: 5px;
}

.splide__slide > img {
    height: 100px;
}

#company-request {
    margin-top: 2rem;
    background-color: #0c0e1a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5% 10%;
}

#company-request-content-outter {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#company-request-header-outter {
    font-size: 20pt;
}

#company-request-body-outter {
    margin-bottom: 3rem;
    font-size: 14pt;
    color: #AAA;
}

#company-request-contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#request-phone {
    font-size: 16pt;
    font-weight: 700;
}

#request-phone , #request-mail {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#request-phone > i, #request-mail > i{
    color: #FFF;
    font-size: 16pt;
}

#request-phone > a {
    text-decoration: none;
}

#request-mail > a {
    font-size: 16pt;
    margin-bottom: 1rem;
}

#company-request-form-outter {
    width: 100%;
}

#feedback-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#feedback-form input, #feedback-form textarea, #feedback-form button {
    font-size: 16pt;
    padding: 30px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #999;
    background-color: transparent;
    color: #FFF;
    transition: .4s;
    outline: none;
}

#feedback-form textarea {
    resize: none;
}

#feedback-form input:focus, #feedback-form textarea:focus {
    border: 2px solid #F00;
    box-shadow: 0px 0px 40px 10px rgba(255, 0, 0, 0.4);
}

#feedback-form input[type=checkbox] {
    width: unset;
    transform: scale(1.5);
}

#form-acception {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#form-acception > label {
    font-size: 18pt;
    color: #AAA;
}

#submit-button {
    background-color: #F00 !important;
    border: 1px solid #F00 !important;
    color: #FFF;
}

footer {
    position: relative;
    background-color: #0c0e1a;
    border-top: 1px solid #555;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1rem;
    padding-bottom: 60px;
    overflow: hidden;
}

footer > p {
    color: #999;
    font-size: 12pt;
}

footer > img {
    display: none;
    position: absolute;
    mix-blend-mode: screen;
    filter: invert(1);
    top: 0;
    right: 5%;
    height: 70%;
    transform: scale(2.2);
}


@media screen and (width >= 780px) {
    header {
        position: static;
        bottom: unset;
        left: unset;
        width: 100%;
        z-index: unset;
        background-color: transparent;
        justify-content: space-evenly;
        padding: 0;
    }

    #nav-links-menu-mobile {
        display: none;
    }

    #nav-links {
        display: flex;
    }

    #contact-tel {
        display: unset;
    }

    #lang-switcher-outter {
        display: unset;
    }

    #company-thumbnail {
        flex-direction: row;
        align-items: unset;
    }

    #thumbnail-body {
        width: 50%;
        align-items: unset;
    }

    #thumbnail-achievments {
        width: 50%;
        padding: 5% 0 5% 0;
        justify-content: unset;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #services-thumbnail-header-outter {
        width: 50%;
    }

    #services-thumbnail-text-outter {
        color: #424242;
        width: 40%;
    }

    #services-content {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #support-services {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #options-outter {
        flex-direction: row;
    }

    .option {
        max-width: 16dvw;
        min-width: 210px;
    }

    .main-option {
        transform: scale(1.05);
        z-index: 2;
        background-color: #FFF;
    }

    #extra-option-outter {
        width: 45%;
        padding: 0;
    }

    #latest-cases-cards {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .case.type1 {
        width: 33%;
    }
    
    .case.type2 {
        width: 66%;
    }

    .case-title {
        font-size: 16pt;
    }
    
    .case-text {
        font-size: unset;
    }

    #company-reviews {
        gap: 8rem;
    }

    #reviews-tab {
        flex-direction: row;
        align-items: unset;
        padding-right: 0;
    }

    #reviews-tab-content {
        border-right: 1px solid #999;
        border-bottom: 0;
        padding: 5%;
        padding-top: 3%;
        padding-right: 0;
    }

    #reviews-tab::before {
        top: -5%;
        left: 10%;
        right: 0;
    }
    
    #reviews-tab::after {
        top: -10%;
        left: 20%;
    }
    
    #reviews-tab-content {
        width: 70%;
        gap: 2rem;
        padding-bottom: 3rem;
    }

    #review-logo > img {
        width: 25%;
    }

    #review-text > p {
        font-size: 18pt;
    }

    #reviews-tab-pagination {
        margin-top: 0;
    }

    #company-clients-body-outter {
        text-align: center;
        width: 50%;
    }

    .splide__slide > img {
        height: unset;
    }

    #company-request {
        margin-top: 8rem;
        flex-direction: row;
    }

    #company-request-content-outter {
        width: 35%;
    }

    #company-request-header-outter {
        font-size: 30pt;
    }

    #company-request-body-outter {
        margin-bottom: 10rem;
        font-size: 14pt;
        color: #AAA;
    }
    
    #request-phone {
        font-size: 26pt;
    }
    
    #request-mail > a {
        font-size: 20pt;
        margin-bottom: 0;
    }

    #company-request-form-outter {
        width: 35%;
    }

    footer > img {
        display: static;
    }

    footer {
        padding: 2rem 4rem;
    }
    
    footer > p {
        font-size: 10pt;
    }
}